.fc-event .fc-event-main {
    position: relative;
    z-index: 0 !important;
    text-align: center;
}

.modal-section{
    background-color: #f1f1f1;
}

.demo-calender{
    margin: 0 auto;
  max-width: 900px;
}